*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --card-min: 425px;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;

    font-size: 24px;
    line-height: 1;

    display: inline-block;
    vertical-align: middle;

}

:focus-visible {
    outline: 2px solid black;
    outline-offset: 0;
}

button:focus-visible {
    outline: 2px solid black;
    outline-offset: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: transparent;
    z-index: 101;
}

body {
    margin: 0;
    background-color: white;
    font-family: sans-serif, Arial;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.left-section {
    display: flex;
}

.menu-btn {
    display: flex;
    margin-left: 20px;

    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
}

.menu-btn:hover {
    background-color: lightgray;
}

.logo-container {
    align-content: center;
    margin-left: 20px;
}

.yt-logo {
    height: 24px;
}

.country-code {
    font-size: 10px;
    color: #606060;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    top: 10px;
}


.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 600px;
    margin: 0 40px;
}

.search-box {
    display: flex;
    flex: 1;
}

.search-bar {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 40px 0 0 40px;
}

.search-btn {
    width: 56px;
    background-color: #f8f8f8;

    border: 1px solid #ccc;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    margin-right: 5px;
}

.search-btn:hover {
    background: #f0f0f0;
}

.mic-btn {
    margin-left: 10px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #f8f8f8;
}

.mic-btn:hover {
    background-color: #e5e5e5;
}


.sign-in-button {
    margin-right: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: blue;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px 14px;
    border-radius: 18px;
}

.sign-in-button:hover {
    background-color: #def1ff;
    border-color: lightblue;
}

.body {
    background-color: white;
}

.sidebar {
    position: fixed;
    top: 60px;
    width: 240px;
    height: calc(100vh - 60px);
    background: white;
    transform: translateX(-100%);
    z-index: 100;
    transition: transform 100ms ease-in-out;
    padding: 12px 20px 12px 4px;
}

.sidebar .material-symbols-outlined {
    font-size: 28px;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 12px;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 20px;
}

.sidebar-link-active {
    background-color: #efefef;
}

.sidebar-label {
    display: inline;
    font: normal 14px Arial;
}

.sidebar-link:hover {
    background-color: #efefef;
}

.sidebar-link:focus-visible, .sidebar-link-active:focus-visible {
    background-color: #efefef;
    outline: none;
}

.sidebar-link-active .material-symbols-outlined {
    font-variation-settings: "FILL" 1,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}

.sidebar-icon {
    margin-right: 15px;
}

.sidebar-icon svg {
    width: 24px;
    height: 24px;
}

.sidebar-label {
    display: inline;
}

.divider {
    margin: 4px;
}

.section-title {
    font-family: Helvetica;
    font-size: 24px;
    margin: 8px 32px;
}

body.sidebar-open .content {
    margin-left: 240px;
    --card-min: 308px;
}

body.sidebar-open .mini-sidebar {
    display: none;
}

.mini-sidebar {
    width: 76px;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
}

.mini-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 14px 0;
    margin: 0 6px 0 4px;
}

.mini-link-active {
    background-color: #efefef;
}

.mini-link:hover {
    background-color: #efefef;
}

.mini-label {
    display: block;
    font-size: 10px;
    font-family: Arial;
    margin-top: 2px;
}

.mini-link-active .material-symbols-outlined {
    font-size: 28px;
}

.content {
    margin-left: 76px;
    margin-top: 56px;
    background-color: white;
}

.category-bar {
    display: flex;
    position: sticky;
    top: 60px;
    z-index: 101;
    gap: 12px;
    background-color: white;
    padding: 10px 0 10px 18px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 0;
}

.category-bar::-webkit-scrollbar {
    --webkit-scrollbar: none;
}

.category-button, .category-button-active {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #e5e5e5;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    flex-shrink: 0;
}

.category-button:hover {
    background-color: lightgray;
}

.category-button-active {
    background-color: black;
    color: white;
}

.category-button-active:hover {
    background-color: black;
    color: white;
}

.category-button:focus-visible, .category-button-active:focus-visible {
    outline: 2px solid #3ea6ff;
    outline-offset: -2px;
}

.video-grid {
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-min), 1fr));
    padding: 8px;
}

.video-card {
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    position: relative;
    transition: transform 0.2s, background-color 0.2s, z-index 0s;
    justify-content: start;
    border-radius: 10px;
}

.video-card:hover {
    z-index: 50;
}

.video-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: -1;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.video-card:hover::after {
    opacity: 1;
    transform: scale(1.02);
}


.thumbnail-container {
    position: relative;
    margin-bottom: 8px;
}

.thumbnail {
    width: 100%;
    border-radius: 12px;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 15px;
    padding: 4px 4px;
    border-radius: 4px;
}

.video-info-grid {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.video-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif, Helvetica;
    margin: 0 0 2px 0;
    /* Truncate text after 2 lines (Optional advanced CSS) */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-author, .video-stats {
    margin: 0 0 2px 0;
    font-size: 13px;
    color: #606060;
}

.video-author:hover {
    color: #0f0f0f;
}





