*,
*::before,
*::after{box-sizing: border-box;
}

:root {
    --card-min: 425px;
    --focus-ring: red;
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v307/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined{
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;

    font-size: 24px;      /* icon size */
    line-height: 1;       /* prevents extra vertical space */

    display: inline-block;
    vertical-align: middle;

    /* optional but recommended: ensure it behaves like an icon, not text */
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

button:focus, input:focus {
    outline: none;
}

button:focus-visible, .category-button:focus-visible, .category-button-active:focus-visible{
    outline: 2px solid black;
    outline-offset: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 101;
}

body{
    margin: 0;
    background-color: white;
    font-family: sans-serif, Arial;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: rgba(255,255,255, 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    display: none;
}

.left-section {
    display: flex;
    justify-content: center;
}

.menu-holder{
    margin-left: 4px;
    padding: 0 16px;
}

.menu-btn{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
}

.menu-btn:hover{
    background-color: lightgray;
}

.menu-btn:focus-visible{
    background-color: lightgray;
    outline: none;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.yt-logo{
    height: 24px;
}

.country-code {
    font-size: 10px;
    color: #606060;
    font-family: Roboto, Arial, sans-serif;
    position: absolute;
    top: 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    letter-spacing: -1px;
    font-family: 'Arial Narrow', Helvetica, sans-serif;
}

.middle-section
{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
    margin:0 40px;
}

.search-box{
    display: flex;
    flex: 1;
}

.search-bar{
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 40px 0 0 40px;
}

.search-bar:focus-visible{
    outline: 1px solid blue;
    outline-offset: 0px;
}

.search-btn{
    width: 60px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    margin-right: 5px;
}

.search-btn:hover{
    background : #f0f0f0;
}

.mic-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:none;
    background-color: #f8f8f8;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-btn:hover{
    background-color : #e5e5e5;
}

.sign-in-button{
    font-size: 16px;
    color: blue;
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 10px 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 18px;
    align-items: center;
    margin-right: 10px;
}

.sign-in-button:hover{
    background-color: #def1ff;
    border-color: lightblue;
}

.body{
    background-color: #3ea6ff;
}


.sidebar{
    position: fixed;
    top: 60px;
    width: 240px;
    height: calc(100vh - 60px);
    background: white;
    transform: translateX(-100%);
    z-index: 1000;
    transition: translate 200ms ease-in-out;
}

.sidebar.open{
    transform: translateX(0);
}

.sidebar-link-first{
    margin-top: 12px;
}

.sidebar-link-active{
    background-color: #efefef;
}


.sidebar-link,.sidebar-link-first{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 5px;
    margin-right: 12px;
    font-size: 16px;
    font-family: Helvetica;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 20px;
}

.sidebar-link:hover , .sidebar-link-first:hover{
    background-color: #efefef;
}

.sidebar-link:focus-visible, .sidebar-link-active:focus{
    background-color: #efefef;
    outline: none;
}

.sidebar-link-active .material-symbols-outlined{
    font-variation-settings:
    "FILL" 1,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}

.sidebar-icon{
    margin-right: 15px;
}

.sidebar-icon svg{
    width: 24px ;
    height: 24px;
}

.divider{
    margin: 4px;
}

.section-title{
    font-family: Helvetica;
    font-size: 24px;
    margin: 8px 32px;
}

body.sidebar-open .content{
    margin-left: 240px;
    --card-min: 308px;
}

body.sidebar-open .mini-sidebar{
    display: none;
}

.mini-sidebar{
    width: 76px;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
}

.mini-link,.mini-link-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 14px 0;
    margin: 0 6px 0 4px;
}

.mini-link-first{
    margin-top: 10px;
}

.mini-link:hover,.mini-link-first:hover{
    background-color: #efefef;
}

.mini-link p, .mini-link-first p{
    font-size: 12px;
    font-family: Helvetica;
    margin: 2px 0 0 0;
}

.content{
    margin-left: 76px;
    margin-top: 56px;
    background-color: white;
}

.category-bar{
    display: flex;
    position: sticky;
    top: 60px;
    z-index: 101;
    gap: 12px;
    background-color: white;
    padding: 10px 0 10px 18px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 0;
}

.category-bar::-webkit-scrollbar {
    --webkit-scrollbar: none;
}

.category-button,.category-button-active{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #e5e5e5;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    flex-shrink: 0;
}

.category-button:hover{
    background-color: lightgray;
}

.category-button-active{
    background-color: black;
    color: white;
}

.category-button-active:hover{
    background-color: black;
    color: white;
}

.category-button:focus-visible, .category-button-active:focus-visible{
    outline: 2px solid #3ea6ff;
    outline-offset: -2px;
}

.video-grid{
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(var(--card-min),1fr));
    padding: 8px;
}

.video-card{
    cursor:pointer;
    background-color: transparent;
    padding: 10px;
    position: relative;
    transition: transform 0.2s, background-color 0.2s, z-index 0s;
    justify-content: start;
    border-radius: 10px;
    height: fit-content;
}

.video-card:hover{
    z-index: 50;
}

.video-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    z-index: -1;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.video-card:hover::after{
    opacity: 1;
    transform: scale(1.02);
}


.thumbnail-container{
    position: relative;
    margin-bottom: 8px;
}

.thumbnail{
    width: 100%;
    border-radius: 12px;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 15px;
    padding: 4px 4px;
    border-radius: 4px;
}

.video-info-grid {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.video-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial,sans-serif, Helvetica;
    margin: 0 0 2px 0;
    /* Truncate text after 2 lines (Optional advanced CSS) */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-author, .video-stats {
    margin: 0 0 2px 0;
    font-size: 13px;
    color: #606060;
}

.video-author:hover {
    color: #0f0f0f;
}





